<form action="/usuarios/edit" method="post">
    <input type="hidden" name="_id" id="_id" value="<%= value._id%>"/>
    <label>Nome</label>
    <input type="text" name="nome" id="nome" value="<%= value.nome%>"/>
    <label>Login</label>
    <input type="text" name="login" id="login" value="<%= value.login%>" />
    <label>Senha</label>
    <input type="text" name="senha" id="senha" value="<%= value.senha%>" />
    <input type="submit" id="buscar" value="Salvar" />
  </form>